# 1
x = 3 ----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

y = 4.5 -----> integere çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

z = "8" -----> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

a = "12" -----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

b = "46.8" ------> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

In [10]:
x=3
x_float=float(x)
print(type(x_float))

y=4.5
y_int=int(y)
print(type(y_int))

z="8"
z_int=int(z)
print(type(z_int))

a="12"
a_float=float(a)
print(type(a_float))

b=46.8
b_int=int(b)
print(type(b_int))

<class 'float'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'int'>

# 2 
İsimlerden oluşan üç değişkene yaş değerleri atanır. Belirlenen üç değişken birbiriyle karşılaştırma operatörleri ile karşılaştırılır. Bu karşılaştırmalara mantıksal operatörler de eklenir.

In [11]:
enes=21
ramo=20
erva=17

enes>ramo
enes=erva
erva<ramo

True

# 3
Kullanıcıdan iki değer girmesini istenir. Girilen değerlerin toplama, çıkarma, çarpma, bölme sonuçlarını yazdırılır.

In [12]:
x = float(input("X değerini giriniz: "))
y = float(input("Y değerini giriniz: "))

print("X + Y =", x + y)  
print("X - Y =", x - y)  
print("X / Y =", x / y)  
print("X * Y =", x * y)

X + Y = 6.0
X - Y = -2.0
X / Y = 0.5
X * Y = 8.0

# 4
Kullanıcıdan isim, yaş, şehir ve meslek bilgilerini istenir ve cevaplarını yazdırılır.

In [13]:
isim= input("İsminizi giriniz: ")
yas= int(input("Yasinizi giriniz: "))
sehir= input("Sehrinizi giriniz: ")
meslek=input("Mesleginizi giriniz")

print(isim)
print(yas)
print(sehir)
print(meslek)

enes
21
sakarya
pc

# 5
"Hi-Kod Veri Bilimi Atölyesi" ifadesini bir değişkene tanımlanır.


 1. İfadedeki her bir kelimeyi ("Hi-Kod", "Veri", "Bilimi", "Atölyesi") değişken içinden seçilir. 
 2. İfadeyi hepsini büyük harf olacak hale çevrilir. ("HI-KOD VERİ BİLİMİ ATÖLYESİ") 
 3. İfadeyi hepsini büyük harf olacak hale çevrilir.("hi-kod veri bilimi atölyesi") 

"0123456789" ifadesindeki yalnızca çift sayıları ve yalnızca tek sayıları seçilir. ("02468", "13579")

In [14]:
var="Hi-Kod Veri Bilimi Atölyesi"
kelimeler= var.split()
print(kelimeler)
var_buyuk=var.upper()
print(var_buyuk)
var_kucuk=var.lower()
print(var_kucuk)

sayi="0123456789"
cift_sayilar=sayi[::2]
print(cift_sayilar)

tek_sayilar=sayi[1::2]
print(tek_sayilar)

['Hi-Kod', 'Veri', 'Bilimi', 'Atölyesi']
HI-KOD VERI BILIMI ATÖLYESI
hi-kod veri bilimi atölyesi
02468
13579